*{
     margin: 0;
     padding: 0; 
}
body{
     width: 1050px;
     height: 100%;
     font-size: 15px;
     margin: 50px 70px 0px 70px;
     font-family: 'Spartan', sans-serif;
     background-image: url(./images/bg-pattern-bottom-desktop.svg), url(./images/bg-pattern-top-desktop.svg);
     background-position: right -180px bottom -10px, left top;
     background-repeat: no-repeat, no-repeat;
}
.checked {
     color: orange;

}
.top{
     display: flex;
     flex-direction: row;
     margin-bottom: 40px;
     margin-top: 150px;
}
.primary{
    font-weight: 700;
    font-size: 45px;
    width: 400px;
    color:  hsl(300, 43%, 22%);
}
.brief{
     margin-top: 20px;
     font-weight: 400;
     width: 461px;
     color:  hsl(300, 43%, 22%);
}
.star{
     display: flex;
     flex-direction: column;
     width: 100%;
     justify-content: space-evenly;
     text-align: center;
     font-weight: 700;
     word-spacing: 3px;
     gap: 10px;
    
}

.one {
     border: solid 10px hsl(300, 24%, 96%);
     background: hsl(300, 24%, 96%);
     margin-left: 35%;
     width: 400px;
     border-radius: 5px;
     display: flex;
     flex-direction:row;
     justify-content: space-evenly
     
     
}
.two {
     border: solid 10px hsl(300, 24%, 96%);
     background: hsl(300, 24%, 96%);
     margin-left: 45%;
     width: 400px;
     border-radius: 5px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly
}
.three{
     border: solid 10px hsl(300, 24%, 96%) ;
     background: hsl(300, 24%, 96%);
     margin-left: 55%;
     width: 400px;
     border-radius: 5px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly
}
.bottom{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 20px;
     align-items: center;
}
.box{
     background: hsl(300, 43%, 22%);
     color: hsl(0, 0%, 100%);
     height:200px;
     width: 350px;
     padding:30px 0px 0px 20px;
     border-radius: 5px;
}
.box img{
     border-radius: 100%;
     height: 40px;
     margin-right: 20px;
}
.buyer{
     display: flex;
     flex-direction: row;
}
.content{
     margin: 30px 15px 0px 0px;
}
.verified{
     color: hsl(303, 10%, 53%);
}
.irene{
     margin-top: 5%;
}
.anne{
     margin-top: 10%;
}

@media(max-width:425px){
     *{
          margin: 0;
          padding: 0; 
     }
     body{
          height: 100%;
          width: 100%;
          margin: 20px 0px 20px 10px;
          background-image: url(./images/bg-pattern-bottom-mobile.svg), url(./images/bg-pattern-top-mobile.svg);
          background-position: right bottom, left top;
          background-repeat: no-repeat, repeat;
     }
     .top{
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
     }
     .primary{
         font-weight: 700;
         font-size: 45px;
         width: 400px;
         color:  hsl(300, 43%, 22%);
         text-align: center;
         align-items: center;
         margin: 25px 0px 0px 20px;
     }
     .brief{
          text-align: center;
          align-items: center;
          margin:20px 0px 20px 0px;
          font-weight: 400;
          width: 100%;
          color:  hsl(300, 43%, 22%);
          letter-spacing: 3px;
     }
     .star{
          display: grid;
          grid-template-columns: 1fr;
          gap: 30px;
          width: 100%;
          justify-content: space-evenly;
          text-align: center;
          font-weight: 700;
          word-spacing: 3px;
         
     }
     
     .star .one{
          border: solid 10px hsl(300, 24%, 96%) ;
          background: hsl(300, 24%, 96%);
          margin-left: 2rem;
          width: 325px;
          border-radius: 5px;
          text-align: center;
          align-items: center;
          display: flex;
          flex-direction: column;
     }
     .star .two{
          border: solid 10px hsl(300, 24%, 96%) ;
          background: hsl(300, 24%, 96%);
          margin-left: 2rem;
          width: 325px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
     }
     .star .three{
          border: solid 10px hsl(300, 24%, 96%) ;
          background: hsl(300, 24%, 96%);
          margin-left: 2rem;
          width: 325px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
     }
     .bottom{
          display: grid;
          grid-template-columns: 1fr;
          gap: 15px;
     }
     .box{
          background: hsl(300, 43%, 22%);
          color: hsl(0, 0%, 100%);
          padding:30px 0px 0px 20px;
          border-radius: 5px;
          height: 200px;
          width: 325px;
          margin-left: 2rem;
     }
     .box img{
          border-radius: 100%;
          height: 40px;
          margin-right: 20px;
     }
     .buyer{
          display: flex;
          flex-direction: row;
     }
     .content{
          margin: 30px 15px 0px 0px;
     }
     .verified{
          color: hsl(303, 10%, 53%);
     }
     .irene,.anne{
          margin-top: 0%;
     }
     
}